* {
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

html {
    font-size: 62.5%;
    height: 100vh;
}

.main-wrapper {
    height: 100vh;
    display: grid;
}

.github-logo {
    width: 32px;
    height: auto;
}