* {
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

html {
    font-size: 62.5%;
    height: 100vh;
}

body {
    font-size: 2rem;
}

.main-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    flex-shrink: 0;
    background-color: chocolate;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 5rem;
    margin: 1rem;
}

h2 {
    font-size: 3.5rem;
    margin: 1rem 0;
}

.menu-button {
    display: none;
    cursor: pointer;
    margin: 20px;

}

.menu-button-row-1,
.menu-button-row-2,
.menu-button-row-3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.change .menu-button-row-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .menu-button-row-2 {
    opacity: 0;
}

.change .menu-button-row-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

main {
    flex: 1 0 auto;
    background-color: bisque;
    display: flex;
}

.menu {
    flex-shrink: 0;
    background-color: rgb(173, 129, 214);
}

.content {
    flex: 1 0 auto;
    background-color: rgb(185, 249, 249);
}

.content>* {
    padding: 2rem;
    margin: 2rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: beige;
}

footer>* {
    padding: 0.5rem;
}

.github-logo {
    display: block;
    width: 32px;
    height: auto;
}

nav {
    padding: 2rem;
    margin: 2rem;
    font-size: 3rem;
}

li {
    margin: 1rem;
}


@media screen and (max-width: 500px) {
    .menu-button {
        display: inline-block;
    }

    .menu {
        /*hidind and showing sidebar on small screen*/
        display: none;
    }
}

main.active-overlay {
    /*hidind and showing sidebar on small screen*/
    display: block;
}

.menu.active-overlay {
    /*hidind and showing sidebar on small screen*/
    position: relative;
    height: 100%;
    z-index: 99;
    display: flex;
}